.rosewater {
    background-color: #f5e0dc;
}

.flaminfgo {
    background-color: #f2cdcd;
}

.pink {
    background-color: #f5c2e7;
}

.mauve {
    background-color: #cba6f7;
}

.red {
    background-color: #f38ba8;
}

.maroon {
    background-color: #eba0ac;
}

.peach {
    background-color: #fab387;
}

.yellow {
    background-color: #f9e2af;
}

.green {
    background-color: #a6e3a1;
}

.teal {
    background-color: #94e2d5;
}

.sky {
    background-color: #89dceb;
}

.sapphire {
    background-color: #74c7ec;
}

.blue {
    background-color: #89b4fa;
}

.lavender {
    background-color: #b4befe;
}

.text {
    color: #cdd6f4;
}

.subtext1 {
    color: #bac2de;
}

.subtext0 {
    color: #a6adc8;
}

.overlay2 {
    background-color: #9399b2;
}

.overlay1 {
    background-color: #7f849c;
}

.overlay0 {
    background-color: #6c7086;
}

.surface2{
    background-color: #585b70;
} 

.surface1 {
    background-color: #45475a;
} 

.surface0 {
    background-color: #313244;
} 

.base {
    background-color: #1e1e2e;
} 

.mantle {
    background-color: #181825;
}

.crust {
    background-color: #11111b;
}